<div class="row search">
  <div class="searchRow">
    <form class="form-inline" role="form">
      <div class="form-group">
        <input type="search" class="form-control" id="k" name="k" placeholder="Enter TV Show or Movie title">
        <autocomplete ng-model="result" attr-placeholder="type to search movies..." click-activation="true"
                      data="movies" on-type="updateMovies" on-select="doSomethingElse"></autocomplete>
        <input id="cn" name="cn" type="hidden" value="false"/>
      </div>
      <button type="submit" class="btn">Search</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">New episodes</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">New movies</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Downloads</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Recommended</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
</div>
